* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(88, 153, 23);
}

.container {
    background-color: red;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    padding: 15px;
}

.all-cards, .card .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.all-cards .card .icon {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    transition: transform 0.2s linear;
    /* backface-visibility: hidden; */
}

.all-cards {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.all-cards .card {
    cursor: pointer;
    perspective: 800px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    position: relative;
}

.card .icon {
    transform: rotateY(-180deg);

}
.card .back {
    /* display: none; */
    border: 1px solid black;
}

.card .icon img {
    max-width: 75px;
 
}

/* .card:hover .back {
    transform: rotateY(0deg);
} 

.card:hover .front {
    transform: rotateY(180deg);
}  */

.all-cards .card .jolly {
    /* display: none; */
}

.hide  {
    display: none;
}

.Fimage {
    /* display: none; */
}